* {
  box-sizing: border-box;
}

body {
  @include Montserrat;
  font-weight: bold;
}

.container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include small {
    width: initial;
    max-width: 768px;
    padding: 0 40px;
  }

  @include medium {
    max-width: 1200px;
    padding: 0 40px;
  }

  @include large {
    max-width: 1200px;
    padding: 0 90px;
  }
}

