$bgColorHeader: #27262a;
$purple: #8d81ac;
$darkPurple: #635C73;
$darkGrey: #323232;
$lightGrey: #f4f4f4;

$bold: 700;
$regular: 400;

/*Breakpoints*/
$screen-sm: 481px;
$screen-md: 993px;
$screen-lg: 1200px;
$screen-xlg: 1380px;