$bgColorHeader: #27262a;
$purple: #8d81ac;
$darkPurple: #635C73;
$darkGrey: #323232;

$bold: 700;
$regular: 400;

/*Breakpoints*/
$screen-sm: 481px;
$screen-sland: 540px;
$screen-md: 768px;
$screen-lg: 1200px;